node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Comment this out for Production Builds (EAS build needs follows .gitignore but needs the data in here)
# secrets.js    
